form(class='filter js-filter' data-filter='rent')
  div(class='filter-top')
    div(class='ui-select js-multiSelect')
      div(class='input js-input' role='combobox' tabindex='0' id='combobox'
        aria-activedescendant=''
        aria-autocomplete='none'
        aria-owns='rent-city-listbox'
        aria-expanded='false'
        aria-haspopup='rent-city-listbox'
        aria-labelledby='combobox-label')
        div(class='label') город
        div(class='value') все
        span(class='icon')
          svg(focusable='false' aria-hidden='true')
            use(href='#icon-16-dropdown-open')
      div(class='options js-options' role='listbox' id='rent-city-listbox')
        label(class='reset' role='option' id='option-rent-city-0' aria-selected='true' data-combobox='reset')
          svg(class='icon')
            use(href='#icon-16-close')
          span(class='text') все
        - 
          const cities = [
            {name: 'Москва', id: '1'},
            {name: 'Санкт-Петербург', id: '2'},
            {name: 'Самара', id: '3'},
            {name: 'Саратов', id: '4'},
            {name: 'Нижний Новгород', id: '5'},
            {name: 'Казань', id: '6'},
            {name: 'Сочи', id: '7'},
          ]

        each city in cities
          label(class='option' role='option' id=`option-rent-city-${city.id}` aria-selected='false' for=`rent-city-${city.id}`)
            input(class='visually-hidden' type='checkbox' name=`${city.name}` id=`rent-city-${city.id}`)
            svg(class='icon')
                use(href='#icon-16-ok')
            span(class='text') #{city.name}
    div(class='ui-select js-multiSelect')
      div(class='input js-input' role='combobox' tabindex='0' id='combobox'
        aria-activedescendant=''
        aria-autocomplete='none'
        aria-owns='rent-type-listbox'
        aria-expanded='false'
        aria-haspopup='rent-type-listbox'
        aria-labelledby='combobox-label')
        div(class='label') тип площади
        div(class='value') любое
        span(class='icon')
          svg(focusable='false' aria-hidden='true')
            use(href='#icon-16-dropdown-open')
      div(class='options js-options' role='listbox' id='rent-type-listbox')
        label(class='reset js-reset' role='option' id='option-rent-type-0' aria-selected='true' data-combobox='reset')
          svg(class='icon')
            use(href='#icon-16-close')
          span(class='text') любое
          //- input(class='visually-hidden' type='checkbox' name='любое')
        
        - 
          const types = [
            {name: 'офисы', id: '1'},
            {name: 'адм. здания', id: '2'},
            {name: 'склады', id: '3'},
            {name: 'производство', id: '4'},
            {name: 'общежития', id: '5'}
          ]
        
        each item in types
          label(class='option' role='option' id=`option-rent-type-${item.id}` aria-selected='false' for=`rent-type-${item.id}`)
            input(class='visually-hidden' type='checkbox' name=`${item.name}` id=`rent-type-${item.id}`)
            svg(class='icon')
                use(href='#icon-16-ok')
            span(class='text') #{item.name}
    div(class='ui-rangeBar ui-rangeBarSelect js-rangeBarSelect')
      div(class='heading')
        span ставка, руб.:
        div(class='ui-select js-select')
          div(class='input js-input' role='combobox' tabindex='0' id='combobox'
            aria-activedescendant=''
            aria-autocomplete='none'
            aria-owns='listbox'
            aria-expanded='false'
            aria-haspopup='listbox'
            aria-labelledby='combobox-label')
            div(class='value') за все в месяц
            span(class='icon')
              svg(focusable='false' aria-hidden='true')
                use(href='#icon-16-dropdown-open')
          div(class='options js-options' role='listbox' id='listbox')
            label(class='option' role='option' id='option-price-1'  aria-selected='true' for='price-1' data-price='all' data-price-rate='1')
              span(class='text') за все в месяц
              input(class='visually-hidden' type='checkbox' name='за все в месяц' id='price-1')
            label(class='option' role='option' id='option-price-2'  aria-selected='false' for='price-2' data-price='meter' data-price-rate='1') 
              span(class='text') за м2 в месяц
              input(class='visually-hidden' type='checkbox' name='за м2 в месяц' id='price-2')
            label(class='option' role='option' id='option-price-3'  aria-selected='false' for='price-3' data-price='all' data-price-rate='12') 
              span(class='text') за все в год
              input(class='visually-hidden' type='checkbox' name='за все в год' id='price-3')
            label(class='option' role='option' id='option-price-4'  aria-selected='false' for='price-4' data-price='meter' data-price-rate='12') 
              span(class='text') за м2 в год
              input(class='visually-hidden' type='checkbox' name='за м2 в год' id='price-4')
      div(class='ui-rangeBar--block')
        div(class='ui-rangeBar--box js-range active' data-price='all')
          div(class='label' for='input-from')
            span от
            span(class='value' data-range='view-from') 0
            input(class='visually-hidden' type='text' data-range='input-from' value='0' aria-hidden='true')
          div(class='label' for='input-to')
            span до
            span(class='value' data-range='view-to') 999 999 999
            input(class='visually-hidden' type='text' data-range='input-to' value='999999999' aria-hidden='true')
          div(class='ui-slider')
            div(class='track' data-range='track')
              label(class='label' for='price-to')
                input(type='range' min='10000000' max='999999999' value='999999999' id='price-to' data-range='slider-to' data-filter='max-price')
              label(class='label' for='price-from')
                input(type='range' min='10000000' max='999999999' value='0' id='price-from' data-range='slider-from' data-filter='min-price')
        div(class='ui-rangeBar--box js-range' data-price='meter')
          div(class='label' for='input-from')
            span от
            span(class='value' data-range='view-from') 0
            input(class='visually-hidden' type='text' data-range='input-from' value='0' aria-hidden='true')
          div(class='label' for='input-to')
            span до
            span(class='value' data-range='view-to') 999 999 999
            input(class='visually-hidden' type='text' data-range='input-to' value='999999999' aria-hidden='true')
          div(class='ui-slider')
            div(class='track' data-range='track')
              label(class='label' for='price-to')
                input(type='range' min='0' max='999999999' value='999999999' id='price-to' data-range='slider-to' data-filter='max-price')
              label(class='label' for='price-from')
                input(type='range' min='0' max='999999999' value='0' id='price-from' data-range='slider-from' data-filter='min-price') 
    div(class='ui-rangeBar js-rangeBarInt')
      div(class='heading') площадь, м²
      div(class='label' for='input-from')
        span от
        span(class='value' data-range='view-from') 0
        input(class='visually-hidden' type='text' data-range='input-from' value='0') 
      div(class='label' for='input-to')
        span до
        span(class='value' data-range='view-to') 100 000
        input(class='visually-hidden' type='text' data-range='input-to' value='100000')
      div(class='ui-slider')
        div(class='track' data-range='track')
          label(class='label' for='size-to')
            input(type='range' min='0' max='100000' value='100000' id='size-to' data-range='slider-to' data-filter='max-size')
          label(class='label' for='size-from')
            input(type='range' min='0' max='100000' value='0' id='size-from' data-range='slider-from' data-filter='min-size')
  div(class='filter-bottom')
    div(class='ui-toggle')
      input(type='checkbox' id='object-sold' name='object-sold')
      span
      label(for='object-sold') проданные объекты
    div(class='tablist tablistView js-tablistView' role='tablist' aria-label='вариант отображения резельтатов фильтрации')
      div(class='ui-tabToggle')
        button(class='tab active' type='button' role='tab' tabindex='0' aria-selected='true' aria-controls='panel-card' id='tab-card')
          svg(class='icon' focusable='false' aria-hidden='true')
            use(href='#icon-16-card')
          span(class='text') карточками
        button(class='tab' type='button' role='tab' tabindex='-1' aria-selected='false' aria-controls='panel-map' id='tab-map')
          svg(class='icon' focusable='false' aria-hidden='true')
            use(href='#icon-16-map')
          span(class='text') на карте
  div(class='filter-button')
    button(class='ui-btnInverse' type='button' data-filter='apply')
      span(class='text') применить фильтры
      svg(class='icon' focusable='false' aria-hidden='true')
        use(href='#icon-16-ok')
    button(class='ui-btn' type='button' data-filter='reset')
      span(class='text') сбросить фильтры
      svg(class='icon' focusable='false' aria-hidden='true')
        use(href='#icon-16-refresh')