extends ./layout/base.pug

block preload

block styles
  style. 
    @font-face {
      font-display: swap;
      font-family: DrukCyr;
      font-weight: 500;
      src:
        url(#{require("Fonts/DrukCyr-Medium.woff2")}) format("woff2"),
        url(#{require("Fonts/DrukCyr-Medium.woff")}) format("woff");
    }

    @font-face {
      font-display: swap;
      font-family: PTRootUI;
      font-weight: 500;
      src:
        url(#{require("Fonts/PTRootUI-Medium.woff2")}) format("woff2"),
        url(#{require("Fonts/PTRootUI-Medium.woff")}) format("woff");
    }

    @font-face {
      font-display: swap;
      font-family: PTRootUI;
      font-weight: 700;
      src:
        url(#{require("Fonts/PTRootUI-Bold.woff2")}) format("woff2"),
        url(#{require("Fonts/PTRootUI-Bold.woff")}) format("woff");
    }
    
block scripts 
  script(src='https://api-maps.yandex.ru/2.1/?apikey=5c1d5f41-62c8-4a9a-a9a0-9808a4d2f383&lang=ru_RU' type='text/javascript')

block content
  div(class='wrapper commerce')
    header(class='header')
      include ../components/navigation/navigation.pug
    div(class='hero')
      picture
        source
        source
        img(src=require('Images/hero/commerce.jpg') alt='')
      div(class='body')
        div(class='heading-sm')
          h1 Продажа и аренда
          p(class='text') Бизнесу и госкомпаниям помогаем найти помещение для офиса или склада, а инвесторам — недвижимость, которую можно будет сдавать в аренду.
    div(class='commerceFilter js-commerceFilter')
      div(class='top')
        h2 фильтры
        button(class='ui-btnClose' type='button' data-filter='close')
          span 
          span
      div(class='bottom')
        div(class='tablist js-tablist tablistCommerce' id='tablist-commerce' role='tablist' aria-label='тип сделки с недвижимостью')
          button(class='ui-tab active' type='button' role='tab' tabindex='0' aria-selected='true' aria-controls='panel-buying panel-filter-buying' id='tab-buying') Покупка
          button(class='ui-tab' type='button' role='tab' tabindex='-1' aria-selected='false' aria-controls='panel-rent panel-filter-rent' id='tab-rent') Аренда
        div(class='panellist panellistFilter')
          div(class='panel active' id='panel-filter-buying' tabindex='0' role='tabpanel' aria-labelledby='tab-buying')
            include ../components/filter/filterBuy.pug
          div(class='panel' id='panel-filter-rent' tabindex='-1' role='tabpanel' aria-labelledby='tab-rent')
            include ../components/filter/filterRent.pug
    div(class='commerceControls')
      button(class='ui-btnFilter' type='button' data-filter='open')
        span(class='text') фильтры
        svg(class='icon' focusable='false' aria-hidden='true')
          use(href='#icon-32-filter')
    div(class='commerceResult')
      div(class='commerceControls')
        div(class='tablist tablistView js-tablistView' id='tablist-view' role='tablist' aria-label='вариант отображения резельтатов фильтрации')
          div(class='ui-tabToggle')
            button(class='tab active' type='button' role='tab' tabindex='0' aria-selected='true' aria-controls='panel-card' id='tab-card')
              svg(class='icon' focusable='false' aria-hidden='true')
                use(href='#icon-16-card')
              span(class='text') карточками
            button(class='tab' type='button' role='tab' tabindex='-1' aria-selected='false' aria-controls='panel-map' id='tab-map')
              svg(class='icon' focusable='false' aria-hidden='true')
                use(href='#icon-16-map')
              span(class='text') на карте
        button(class='ui-btnFilter' type='button' data-filter='open')
          span(class='text') фильтры
          svg(class='icon' focusable='false' aria-hidden='true')
            use(href='#icon-32-filter')
      div(class='panelView' id='panel-card' tabindex='0' role='tabpanel' aria-labelledby='tab-card')
        div(class='panellist panellistCommerce')
          div(class='panel active' id='panel-buying' tabindex='0' role='tabpanel' aria-labelledby='tab-buying')
            section 
              h2(class='visually-hidden') Список объектов недвижимости для покупки.
              ul(class='build-list')
                li(class='item')
                  article(class='cardBuild')
                    div(class='body')
                      h3(class='title') «Ям Голден Лайн»
                      p(class='address') МО, Домодедовский район, «Голден лайн», с. 1
                      div(class='meta')
                        // hidden attribute controls visibility param
                        span(data-build-state='booked' hidden)
                          span Забронировано
                          span(class='tooltip') Данное помещение забронировано, но от него еще могут отказаться
                        span(data-build-price) <span>470</span> &nbsp;млн руб
                        span(data-build-type) <span>Склады</span>
                        span(data-build-size) <span class='prefix-rent'>от&nbsp;</span> <span>14 758</span> &nbsp;м²
                      div(class='badge-list')
                        span(class='badge') продается целиком
                    picture 
                      source
                      source
                      img(class='image' src=require(`Images/build/${1}/card/hero.jpg`))
                    a(class='link' href='./build.html')
                      span(class='visually-hidden') перейти на страницу объекта.
                  article(class='cardBuild')
                    div(class='body')
                      h3(class='title') «Ям Голден Лайн»
                      p(class='address') МО,  Домодедовский район, «Голден лайн», с. 1
                      div(class='meta')
                        // hidden attribute controls visibility param
                        span(data-build-state='booked') 
                          span Забронировано
                          span(class='tooltip') Данное помещение забронировано, но от него еще могут отказаться
                        span(data-build-price) <span>470</span> &nbsp;млн руб
                        span(data-build-type) <span>Склады</span>
                        span(data-build-size) <span class='prefix-rent'>от&nbsp;</span> <span>14 758</span> &nbsp;м²
                      div(class='badge-list')
                        span(class='badge') продается целиком
                    picture 
                      source
                      source
                      img(class='image' src=require(`Images/build/${1}/card/hero.jpg`))
                    a(class='link' href='./build.html')
                      span(class='visually-hidden') перейти на страницу объекта.
                li(class='item')
                  article(class='cardBuild')
                    div(class='body')
                      h3(class='title') «Ям Голден Лайн»
                      p(class='address') МО,  Домодедовский район, «Голден лайн», с. 1
                      div(class='meta')
                        // hidden attribute controls visibility param
                        span(data-build-state='booked' hidden) 
                          span Забронировано
                          span(class='tooltip') Данное помещение забронировано, но от него еще могут отказаться
                        span(data-build-price) <span>470</span> &nbsp;млн руб
                        span(data-build-type) <span>Склады</span>
                        span(data-build-size) <span class='prefix-rent'>от&nbsp;</span> <span>14 758</span> &nbsp;м²
                      div(class='badge-list')
                        span(class='badge') продается целиком
                    picture 
                      source
                      source
                      img(class='image' src=require(`Images/build/${1}/card/hero.jpg`))
                    a(class='link' href='./build.html')
                      span(class='visually-hidden') перейти на страницу объекта.            
          div(class='panel' id='panel-rent' tabindex='-1' role='tabpanel' aria-labelledby='tab-rent')
            section 
              h2(class='visually-hidden') Список объектов недвижимости для покупки.
              ul(class='build-list')
                li(class='item')
                  article(class='cardBuild' data-build='rent')
                    div(class='body')
                      h3(class='title') «Ям Голден Лайн»
                      p(class='address') МО, Домодедовский район, «Голден лайн», с. 1
                      div(class='meta')
                        // hidden attribute controls visibility param
                        span(data-build-state='booked')
                          span Забронировано
                          span(class='tooltip') Данное помещение забронировано, но от него еще могут отказаться
                        span(data-build-price) <span class='prefix-rent'>от&nbsp;</span> <span>470</span> &nbsp;млн руб
                        span(data-build-type) <span>Склады</span>
                        span(data-build-size) <span class='prefix-rent'>от&nbsp;</span> <span>14 758</span> &nbsp;м²
                      div(class='badge-list')
                        span(class='badge') продается целиком
                    picture 
                      source
                      source
                      img(class='image' src=require(`Images/build/${1}/card/hero.jpg`))
                    a(class='link' href='./build.html')
                      span(class='visually-hidden') перейти на страницу объекта.
                  article(class='cardBuild' data-build='rent')
                    div(class='body')
                      h3(class='title') «Ям Голден Лайн»
                      p(class='address') МО,  Домодедовский район, «Голден лайн», с. 1
                      div(class='meta')
                        // hidden attribute controls visibility param
                        span(data-build-state='booked' hidden) 
                          span Забронировано
                          span(class='tooltip') Данное помещение забронировано, но от него еще могут отказаться
                        span(data-build-price) <span class='prefix-rent'>от&nbsp;</span> <span>470</span> &nbsp;млн руб
                        span(data-build-type) <span>Склады</span>
                        span(data-build-size) <span class='prefix-rent'>от&nbsp;</span> <span>14 758</span> &nbsp;м²
                      div(class='badge-list')
                        span(class='badge') продается целиком
                    picture 
                      source
                      source
                      img(class='image' src=require(`Images/build/${1}/card/hero.jpg`))
                    a(class='link' href='./build.html')
                      span(class='visually-hidden') перейти на страницу объекта.
                li(class='item')
                  article(class='cardBuild' data-build='rent')
                    div(class='body')
                      h3(class='title') «Ям Голден Лайн»
                      p(class='address') МО,  Домодедовский район, «Голден лайн», с. 1
                      div(class='meta')
                        // hidden attribute controls visibility param
                        span(data-build-state='booked' hidden) 
                          span Забронировано
                          span(class='tooltip') Данное помещение забронировано, но от него еще могут отказаться
                        span(data-build-price) <span class='prefix-rent'>от&nbsp;</span> <span>470</span> &nbsp;млн руб
                        span(data-build-type) <span>Склады</span>
                        span(data-build-size) <span class='prefix-rent'>от&nbsp;</span> <span>14 758</span> &nbsp;м²
                      div(class='badge-list')
                        span(class='badge') продается целиком
                    picture 
                      source
                      source
                      img(class='image' src=require(`Images/build/${1}/card/hero.jpg`))
                    a(class='link' href='./build.html')
                      span(class='visually-hidden') перейти на страницу объекта.
      div(class='panelView' id='panel-map' tabindex='-1' role='tabpanel' aria-labelledby='tab-map')
        div(class='commerceMap')
          include ../components/map/map.pug
    section
      h2(class='visually-hidden') Работы в рамках покупки и аренды недвижимости.
      ul(class='card-list')
        li(class='item')
          article(class='cardFeature')
            div(class='body')
              span(class='token' aria-hidden='true')
                svg(focusable='false')
                  use(href='#icon-72-selection')
              h3(class='heading-sm') Подбираем недвижимость
              p Всё с учётом пожеланий и задач клиента: с нужным количеством подъездных путей, подходящего размера и в правильном месте.
        li(class='item')
          article(class='cardFeature')
            div(class='body')
              span(class='token' aria-hidden='true')
                svg(focusable='false')
                  use(href='#icon-72-grade')
              h3(class='heading-sm') Проводим независимую оценку
              p Проверяем надёжность конструкций, исправность внутридомовых систем и экологичность материалов. Подсчитываем, сколько ещё нужно вложить в здание.
    include ../components/footer/footer.pug
  include ../components/modalCall/modalCall.pug
  include ../images/icons/icon-16/sprite-icon-16.svg
  include ../images/icons/icon-24/sprite-icon-24.svg
  include ../images/icons/icon-32/sprite-icon-32.svg
  include ../images/icons/icon-72/sprite-icon-72.svg
  include ../images/icons/icon-btn/sprite-icon-btn.svg
  include ../images/icons/icon-social/sprite-icon-social.svg