extends ./layout/base.pug

block preload

block styles
  style. 
    @font-face {
      font-display: swap;
      font-family: DrukCyr;
      font-weight: 500;
      src:
        url(#{require("Fonts/DrukCyr-Medium.woff2")}) format("woff2"),
        url(#{require("Fonts/DrukCyr-Medium.woff")}) format("woff");
    }

    @font-face {
      font-display: swap;
      font-family: PTRootUI;
      font-weight: 500;
      src:
        url(#{require("Fonts/PTRootUI-Medium.woff2")}) format("woff2"),
        url(#{require("Fonts/PTRootUI-Medium.woff")}) format("woff");
    }

    @font-face {
      font-display: swap;
      font-family: PTRootUI;
      font-weight: 700;
      src:
        url(#{require("Fonts/PTRootUI-Bold.woff2")}) format("woff2"),
        url(#{require("Fonts/PTRootUI-Bold.woff")}) format("woff");
    }

block content
  div(class='wrapper')
    button(class='ui-btn') 
      span(class='text') связаться с нами
      svg(class='icon' focusable='false' aria-hidden='true')
        use(href='#icon-16-go')
    button(class='ui-btnInverse') 
      span(class='text') связаться с нами
      svg(class='icon' focusable='false' aria-hidden='true')
        use(href='#icon-16-go')
    button(class='ui-btnSecondary') 
      span(class='text') связаться с нами
      svg(class='icon' focusable='false' aria-hidden='true')
        use(href='#icon-16-go')
    button(class='ui-btnDownload') 
      span(class='text') скачать презентацию
      svg(class='icon' focusable='false' aria-hidden='true')
        use(href='#icon-btn-top-right')
    button(class='ui-btnDownloadIcon') 
      svg(class='icon' focusable='false' aria-hidden='true')
        use(href='#icon-32-pdf')
    div(class='ui-toggle')
      input(type='checkbox' id='' name='')
      span
    button(class='ui-tab') Покупка
    button(class='ui-tabIcon')
      svg(class='icon')
        use(href='#icon-16-card')
      span карточками
    button(class='ui-btnArrow')
      svg(class='icon')
        use(href='#icon-16-go-hover')
    button(class='ui-btnArrow')
      svg(class='icon')
        use(href='#icon-16-back')
    button(class='ui-btnClose')
      span 
      span
    a(class='ui-link' href='#') продажа и аренда
    div(class='ui-slider' style='width: 400px')
      div(class='track' data-range='track')
        label(class='label' for="slider-to")
          input(type='range' min='0' max='1000' value='1000' id='slider-to' data-range='slider-to' data-filter='max-price')
        label(class='label' for="slider-from")
          input(type='range' min='0' max='1000' value='0' id='slider-from' data-range='slider-from' data-filter='min-price')
    div(style='background-color: rgba(46, 46, 46, 1); padding: 2rem; color: white; display: flex; flex-direction: column; gap: 1rem')
      input(class='ui-input' type='text' placeholder='ваше имя')
      input(class='ui-input invalid' type='text' placeholder='ваше имя')
    include ../images/icons/icon-16/sprite-icon-16.svg
    include ../images/icons/icon-24/sprite-icon-24.svg
    include ../images/icons/icon-32/sprite-icon-32.svg
    include ../images/icons/icon-72/sprite-icon-72.svg
    include ../images/icons/icon-btn/sprite-icon-btn.svg