extends ./layout/base.pug

block preload

block styles
  style. 
    @font-face {
      font-display: swap;
      font-family: DrukCyr;
      font-weight: 500;
      src:
        url(#{require("Fonts/DrukCyr-Medium.woff2")}) format("woff2"),
        url(#{require("Fonts/DrukCyr-Medium.woff")}) format("woff");
    }

    @font-face {
      font-display: swap;
      font-family: PTRootUI;
      font-weight: 500;
      src:
        url(#{require("Fonts/PTRootUI-Medium.woff2")}) format("woff2"),
        url(#{require("Fonts/PTRootUI-Medium.woff")}) format("woff");
    }

    @font-face {
      font-display: swap;
      font-family: PTRootUI;
      font-weight: 700;
      src:
        url(#{require("Fonts/PTRootUI-Bold.woff2")}) format("woff2"),
        url(#{require("Fonts/PTRootUI-Bold.woff")}) format("woff");
    }

block content
  div(class='wrapper')
    // component header 
    header(class='header')
      include ../components/navigation/navigation.pug
      +navigation(false)
    // component index hero
    div(class='block block-hero')
      div(class='heading')
        h1 Управляющая компания и брокер с базой недвижимости</br> в 7 городах России
        p(class='title') Снимаем с владельцев зданий все задачи по администрированию и подбираем недвижимость для инвестиций, покупки и аренды.
      div(class='image')
        picture
          source(srcset=`${require(`Images/hero/index.webp`)} 1280w, ${require(`Images/hero/index-2x.webp`)} 2560w, ${require(`Images/hero/index-4x.webp`)} 4096w`
            type='image/webp')
          source(srcset=`${require(`Images/hero/index.jpg`)} 1280w, ${require(`Images/hero/index-2x.jpg`)} 2560w, ${require(`Images/hero/index-4x.jpg`)} 4096w`
            type='image/jpg')
          img(src=require('Images/hero/index.jpg') width='1280' height='1536' alt='здания в городе')
      div(class='image-mask' aria-hidden='true')
        picture
          source(srcset=`${require(`Images/hero/index-mask.webp`)} 1280w, ${require(`Images/hero/index-mask-2x.webp`)} 2560w, ${require(`Images/hero/index-mask-4x.webp`)} 4096w`
            type='image/webp')
          source(srcset=`${require(`Images/hero/index-mask.png`)} 1280w, ${require(`Images/hero/index-mask-2x.png`)} 2560w, ${require(`Images/hero/index-mask-4x.png`)} 4096w`
            type='image/jpg')
          img(src=require('Images/hero/index-mask.png')  width='1280' height='958'  alt='здания в городе')
    // block map
    div(class='block block-map')
      div(class='map')
        h2(class='heading') под нашим управлением
        div(class='info')
          div
            p(class='title') 377 га
            p земли
          div
            p(class='title') 2 000 000 м²
            p жилой и коммерческой<br/> недвижимости
    // block promo
    section(class='block block-promo')
      //- div(class='map')
      //-   h2(class='heading') под нашим управлением
      //-   div(class='info')
      //-     div
      //-       p(class='title') 377 га
      //-       p земли
      //-     div
      //-       p(class='title') 2 000 000 м²
      //-       p жилой и коммерческой<br/> недвижимости
      // block cards
      div(class='cards')
        h2 С кем мы сотрудничаем
        div(class='cardsList')
          // component cardWork
          article(class='cardWork')
            div(class='image')
              include ../images/card/work/2.svg
            div(class='body')
              h3(class='heading') С арендодателями
              p(class='text') Берём на себя все заботы по управлению помещениями: ищем арендаторов, решаем юридические вопросы, готовим налоговые отчёты и нанимаем персонал.
            a(class='ui-btnForward' href='./management.html')
              span(class='text') подробнее
              span(class='icon')
                svg(class='icon-go' focusable='false' aria-hidden='true')
                  use(href='#icon-16-go')
          // component cardWork
          article(class='cardWork')
            div(class='image')
              include ../images/card/work/3-01.svg
            div(class='body')
              h3(class='heading') С инвесторами и бизнесом
              p(class='text') Подбираем помещения под любую задачу. Бизнесу — под офисы и склады. Инвесторам — коммерческую недвижимость, которую можно будет сдавать в аренду.
            a(class='ui-btnForward' href='./commerce.html')
              span(class='text') подробнее
              span(class='icon')
                svg(class='icon-go' focusable='false' aria-hidden='true')
                  use(href='#icon-16-go')
          // component cardWork
          article(class='cardWork')
            div(class='image')
              include ../images/card/work/4-01.svg
            div(class='body')
              h3(class='heading') С другими управляющими компаниями
              p(class='text') Предоставляем услуги своей аварийно-диспетчерской службы: устраняем поломки и следим за исправностью всех внутридомовых систем.
            a(class='ui-btnForward' href='./emergency.html')
              span(class='text') подробнее
              span(class='icon')
                svg(class='icon-go' focusable='false' aria-hidden='true')
                  use(href='#icon-16-go')
    // block benefits (add scroll js or scroll-snap)
    section(class='benefits')
      h2(class='heading') Нас выбирают, потому что<br/> мы автоматизируем все процессы и предлагаем комплексные решения
      section(class='benefit')
        span(class='number') 01
        div(class='info')
          h3(class='title') Клиенты «Реки ФМ» следят<br/>за расходами онлайн
          p Для этого у нас есть программа Oddin. Там мы публикуем отчёты о проделанной работе, например если заменили лампочку или устранили аварию. Всё с фото, датами и чеками.
        div(class='content')
          picture 
            source(srcset=`${require(`Images/benefits/1.webp`)} 840w, ${require(`Images/benefits/1-2x.webp`)} 1680w, ${require(`Images/benefits/1-4x.webp`)} 4096w`
              type='image/webp')
            source(srcset=`${require(`Images/benefits/1.jpg`)} 840w, ${require(`Images/benefits/1-2x.jpg`)} 1680w, ${require(`Images/benefits/1-4x.jpg`)} 4096w`
              type='image/jpg')
            img(src=require('Images/benefits/1.jpg') width='840' height='656' alt='женщина смотрит в монитор' loading='lazy')
      section(class='benefit')
        span(class='number') 02
        div(class='info')
          h3(class='title') Налаживаем<br/>управление зданием с нуля
          p Оснащаем техникой, например системой дымоудаления или сигнализацией. Нанимаем персонал в охрану, клининг и администрацию.
        div(class='content')
          picture 
            source(srcset=`${require(`Images/benefits/2.webp`)} 840w, ${require(`Images/benefits/2-2x.webp`)} 1680w, ${require(`Images/benefits/2-4x.webp`)} 4096w`
              type='image/webp')
            source(srcset=`${require(`Images/benefits/2.jpg`)} 840w, ${require(`Images/benefits/2-2x.jpg`)} 1680w, ${require(`Images/benefits/2-4x.jpg`)} 4096w`
              type='image/jpg')
            img(src=require('Images/benefits/2.jpg') width='840' height='656' alt='пост охраны' loading='lazy')
      section(class='benefit')
        span(class='number') 03
        div(class='info')
          h3(class='title') Наша команда — эксперты<br/>в управлении недвижимостью
          p Они знают, как организовать процессы, чтобы доход клиента был максимальным, а участие в администрировании — минимальным.
        div(class='content')
          div(class='own-carousel__container js-own-carousel__container' aria-roledescription='carousel' loading='lazy')
            include ../components/UI/ui-btnDrag/ui-btnDrag.pug
            div(class='own-carousel__picker')
            div(class='own-carousel__control')
              button(class='ui-btnArrow control__prev' aria-controls='own-carousel__outer')
                span(class='icon')
                  svg(focusable='false' aria-hidden='true')
                    use(href='#icon-16-up')
                span(class='visually-hidden') назад
              button(class='ui-btnArrow control__next' aria-controls='own-carousel__outer')
                span(class='icon')
                  svg(focusable='false' aria-hidden='true')
                    use(href='#icon-16-down')
                span(class='visually-hidden') вперед
            div(class='own-carousel__outer' id='own-carousel__outer')
              div(class='own-carousel')
                div(class='own-carousel__item' aria-roledescription='slide')
                  article(class='cardPerson')
                    div(class='image')
                      picture 
                        source(srcset=`${require(`Images/team/1.webp`)} 420w, ${require(`Images/team/1-2x.webp`)} 840w, ${require(`Images/team/1-4x.webp`)} 1816w`
                          type='image/webp')
                        source(srcset=`${require(`Images/team/1.jpg`)} 420w, ${require(`Images/team/1-2x.jpg`)} 840w, ${require(`Images/team/1-4x.jpg`)} 1816w`
                          type='image/jpg')
                        img(src=require('Images/team/1.jpg') width='420' height='656' alt='Будкевич Василий Викторович' loading='lazy')
                    div(class='body')
                      h4(class='name') Будкевич Василий<br/>Викторович 
                      div(class='badge-list')
                        span(class='badge') генеральный директор
                      p(class='note') Опыт работы в сфере недвижимости, в том числе международной с 2007 года
                      div(class='contact-list')
                        a(class='ui-link' href='tel:+79272631696') 
                          span(class='text' data-text='+7 (927) 263-16-96') +7 (927) 263-16-96
                        a(class='ui-link' href='mailto:v.budkevich@reka.fm') 
                          span(class='text' data-text='v.budkevich@reka.fm') v.budkevich@reka.fm
                div(class='own-carousel__item' aria-roledescription='slide')
                  article(class='cardPerson')
                    div(class='image')
                      picture 
                        source(srcset=`${require(`Images/team/1.webp`)} 420w, ${require(`Images/team/1-2x.webp`)} 840w, ${require(`Images/team/1-4x.webp`)} 1816w`
                          type='image/webp')
                        source(srcset=`${require(`Images/team/1.jpg`)} 420w, ${require(`Images/team/1-2x.jpg`)} 840w, ${require(`Images/team/1-4x.jpg`)} 1816w`
                          type='image/jpg')
                        img(src=require('Images/team/1.jpg') width='420' height='656' alt='Будкевич Василий Викторович' loading='lazy')
                    div(class='body')
                      h4(class='name') Будкевич Василий<br/>Викторович 
                      div(class='badge-list')
                        span(class='badge') генеральный директор
                      p(class='note') Опыт работы в сфере недвижимости, в том числе международной с 2007 года
                      div(class='contact-list')
                        a(class='ui-link' href='tel:+79272631696') 
                          span(class='text' data-text='+7 (927) 263-16-96') +7 (927) 263-16-96
                        a(class='ui-link' href='mailto:v.budkevich@reka.fm') 
                          span(class='text' data-text='v.budkevich@reka.fm') v.budkevich@reka.fm
                div(class='own-carousel__item' aria-roledescription='slide')
                  article(class='cardPerson')
                    div(class='image')
                      picture 
                        source(srcset=`${require(`Images/team/1.webp`)} 420w, ${require(`Images/team/1-2x.webp`)} 840w, ${require(`Images/team/1-4x.webp`)} 1816w`
                          type='image/webp')
                        source(srcset=`${require(`Images/team/1.jpg`)} 420w, ${require(`Images/team/1-2x.jpg`)} 840w, ${require(`Images/team/1-4x.jpg`)} 1816w`
                          type='image/jpg')
                        img(src=require('Images/team/1.jpg') width='420' height='656' alt='Будкевич Василий Викторович' loading='lazy')
                    div(class='body')
                      h4(class='name') Будкевич Василий<br/>Викторович 
                      div(class='badge-list')
                        span(class='badge') генеральный директор
                      p(class='note') Опыт работы в сфере недвижимости, в том числе международной с 2007 года
                      div(class='contact-list')
                        a(class='ui-link' href='tel:+79272631696') 
                          span(class='text' data-text='+7 (927) 263-16-96') +7 (927) 263-16-96
                        a(class='ui-link' href='mailto:v.budkevich@reka.fm') 
                          span(class='text' data-text='v.budkevich@reka.fm') v.budkevich@reka.fm
                div(class='own-carousel__item' aria-roledescription='slide')
                  article(class='cardPerson')
                    div(class='image')
                      picture 
                        source(srcset=`${require(`Images/team/1.webp`)} 420w, ${require(`Images/team/1-2x.webp`)} 840w, ${require(`Images/team/1-4x.webp`)} 1816w`
                          type='image/webp')
                        source(srcset=`${require(`Images/team/1.jpg`)} 420w, ${require(`Images/team/1-2x.jpg`)} 840w, ${require(`Images/team/1-4x.jpg`)} 1816w`
                          type='image/jpg')
                        img(src=require('Images/team/1.jpg') width='420' height='656' alt='Будкевич Василий Викторович' loading='lazy')
                    div(class='body')
                      h4(class='name') Будкевич Василий<br/>Викторович 
                      div(class='badge-list')
                        span(class='badge') генеральный директор
                      p(class='note') Опыт работы в сфере недвижимости, в том числе международной с 2007 года
                      div(class='contact-list')
                        a(class='ui-link' href='tel:+79272631696') 
                          span(class='text' data-text='+7 (927) 263-16-96') +7 (927) 263-16-96
                        a(class='ui-link' href='mailto:v.budkevich@reka.fm') 
                          span(class='text' data-text='v.budkevich@reka.fm') v.budkevich@reka.fm
                div(class='own-carousel__item' aria-roledescription='slide')
                  article(class='cardPerson')
                    div(class='image')
                      picture 
                        source(srcset=`${require(`Images/team/1.webp`)} 420w, ${require(`Images/team/1-2x.webp`)} 840w, ${require(`Images/team/1-4x.webp`)} 1816w`
                          type='image/webp')
                        source(srcset=`${require(`Images/team/1.jpg`)} 420w, ${require(`Images/team/1-2x.jpg`)} 840w, ${require(`Images/team/1-4x.jpg`)} 1816w`
                          type='image/jpg')
                        img(src=require('Images/team/1.jpg') width='420' height='656' alt='Будкевич Василий Викторович' loading='lazy')
                    div(class='body')
                      h4(class='name') Будкевич Василий<br/>Викторович 
                      div(class='badge-list')
                        span(class='badge') генеральный директор
                      p(class='note') Опыт работы в сфере недвижимости, в том числе международной с 2007 года
                      div(class='contact-list')
                        a(class='ui-link' href='tel:+79272631696') 
                          span(class='text' data-text='+7 (927) 263-16-96') +7 (927) 263-16-96
                        a(class='ui-link' href='mailto:v.budkevich@reka.fm') 
                          span(class='text' data-text='v.budkevich@reka.fm') v.budkevich@reka.fm
                div(class='own-carousel__item' aria-roledescription='slide')
                  article(class='cardPerson')
                    div(class='image')
                      picture 
                        source(srcset=`${require(`Images/team/1.webp`)} 420w, ${require(`Images/team/1-2x.webp`)} 840w, ${require(`Images/team/1-4x.webp`)} 1816w`
                          type='image/webp')
                        source(srcset=`${require(`Images/team/1.jpg`)} 420w, ${require(`Images/team/1-2x.jpg`)} 840w, ${require(`Images/team/1-4x.jpg`)} 1816w`
                          type='image/jpg')
                        img(src=require('Images/team/1.jpg') width='420' height='656' alt='Будкевич Василий Викторович' loading='lazy')
                    div(class='body')
                      h4(class='name') Будкевич Василий<br/>Викторович 
                      div(class='badge-list')
                        span(class='badge') генеральный директор
                      p(class='note') Опыт работы в сфере недвижимости, в том числе международной с 2007 года
                      div(class='contact-list')
                        a(class='ui-link' href='tel:+79272631696') 
                          span(class='text' data-text='+7 (927) 263-16-96') +7 (927) 263-16-96
                        a(class='ui-link' href='mailto:v.budkevich@reka.fm') 
                          span(class='text' data-text='v.budkevich@reka.fm') v.budkevich@reka.fm
    section(class='block block-news')
      h2 Наши новости
      // component carousel
      div(class='carousel js-carousel' aria-roledescription='carousel')
        div(class='carousel-controls')
          button(class='ui-btnArrow' aria-controls='carousel-slides' data-carousel='prev-slide')
            span(class='icon')
              svg(focusable='false' aria-hidden='true')
                use(href='#icon-16-up')
            span(class='visually-hidden') назад
          button(class='ui-btnArrow' aria-controls='carousel-slides' data-carousel='next-slide')
            span(class='icon')
              svg(focusable='false' aria-hidden='true')
                use(href='#icon-16-down')
            span(class='visually-hidden') вперед
        div(class='carousel-slides' id='carousel-slides')
          div(class='carousel-slide is-active' aria-roledescription='slide' data-carousel='slide')
            div(class='carousel-slide-inner')
              // component cardNews
              article(class='cardNews')
                div(class='image')
                  picture
                    source(srcset=`${require(`Images/news/1/card/1.webp`)} 400w, ${require(`Images/news/1/card/1-2x.webp`)} 800w`
                      type='image/webp')
                    source(srcset=`${require(`Images/news/1/card/1.jpg`)} 400w, ${require(`Images/news/1/card/1-2x.jpg`)} 800w`
                      type='image/jpg')
                    img(src=require('Images/news/1/card/1.jpg') width='400' height='540' alt='склад' loading='lazy')
                div(class='body')
                  div(class='badge') <span>22</span> ⁄ <span>02</span> ⁄ <span>22</span>
                  h3(class='title') Заголовок новости
                  p(class='text') Также как реализация намеченных плановых заданий предполагает независимые способы реализации плановых заданий предполагает независимые дальнейших действий.
                a(class='link' href='./news.html')
                  span(class='visually-hidden') перейти на страницу новости
          div(class='carousel-slide' aria-roledescription='slide' data-carousel='slide')
            div(class='carousel-slide-inner')
              // component cardNews
              article(class='cardNews')
                div(class='image')
                  picture
                    source(srcset=`${require(`Images/news/2/card/1.webp`)} 400w, ${require(`Images/news/2/card/1-2x.webp`)} 800w`
                      type='image/webp')
                    source(srcset=`${require(`Images/news/2/card/1.jpg`)} 400w, ${require(`Images/news/2/card/1-2x.jpg`)} 800w`
                      type='image/jpg')
                    img(src=require('Images/news/2/card/1.jpg') width='400' height='540' alt='зание склада' loading='lazy')
                div(class='body')
                  div(class='badge') <span>22</span> ⁄ <span>02</span> ⁄ <span>22</span>
                  h3(class='title') Заголовок новости
                  p(class='text') Также как реализация намеченных плановых заданий предполагает независимые способы реализации плановых заданий предполагает независимые дальнейших действий.
                a(class='link' href='./news.html')
                  span(class='visually-hidden') перейти на страницу новости
          div(class='carousel-slide' aria-roledescription='slide' data-carousel='slide')
            div(class='carousel-slide-inner')
              div(class='newsGroup')
                // component cardNews
                article(class='cardNews')
                  div(class='body')
                    div(class='badge') <span>22</span> ⁄ <span>02</span> ⁄ <span>22</span>
                    h3(class='title') Длинный заголовок новости в две строки 
                    p(class='text') Также как реализация намеченных плановых заданий предполагает независимые способы реализации плановых заданий предполагает независимые дальнейших действий.
                    a(class='link' href='./news.html')
                      span(class='visually-hidden') перейти на страницу новости
                // component cardNews
                article(class='cardNews')
                  div(class='body')
                    div(class='badge') <span>22</span> ⁄ <span>02</span> ⁄ <span>22</span>
                    h3(class='title') Заголовок новости
                    p(class='text') Также как реализация намеченных плановых заданий предполагает независимые способы реализации плановых заданий предполагает независимые дальнейших действий.
                    a(class='link' href='./news.html')
                      span(class='visually-hidden') перейти на страницу новости
      a(class='ui-btnForward' href='./news_list.html') 
        span(class='text') все новости
        span(class='icon')
          svg(class='icon-go' focusable='false' aria-hidden='true')
            use(href='#icon-16-go')
  // component footer
  include ../components/footer/footer.pug
  include ../components/modalCall/modalCall.pug
  include ../images/icons/icon-16/sprite-icon-16.svg
  include ../images/icons/icon-24/sprite-icon-24.svg
  include ../images/icons/icon-32/sprite-icon-32.svg
  include ../images/icons/icon-72/sprite-icon-72.svg
  include ../images/icons/icon-btn/sprite-icon-btn.svg
  include ../images/icons/icon-social/sprite-icon-social.svg