extends ./layout/base.pug

block preload

block styles
  style. 
    @font-face {
      font-display: swap;
      font-family: DrukCyr;
      font-weight: 500;
      src:
        url(#{require("Fonts/DrukCyr-Medium.woff2")}) format("woff2"),
        url(#{require("Fonts/DrukCyr-Medium.woff")}) format("woff");
    }

    @font-face {
      font-display: swap;
      font-family: PTRootUI;
      font-weight: 500;
      src:
        url(#{require("Fonts/PTRootUI-Medium.woff2")}) format("woff2"),
        url(#{require("Fonts/PTRootUI-Medium.woff")}) format("woff");
    }

    @font-face {
      font-display: swap;
      font-family: PTRootUI;
      font-weight: 700;
      src:
        url(#{require("Fonts/PTRootUI-Bold.woff2")}) format("woff2"),
        url(#{require("Fonts/PTRootUI-Bold.woff")}) format("woff");
    }

block content
  div(class='wrapper')
    header(class='header')
      include ../components/navigation/navigation.pug
    article(class='block-privacy')
      header(class='heading')
        h1 Политика</br>конфиденциальности
      section(class='section')
        h2 1. Общие положения
        p(class='chapter') Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. № 152-ФЗ «О персональных данных» (далее — Закон о персональных данных) и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных, предпринимаемые Михайловым Иваном Сергеевичем (далее — Оператор).
        section(class='chapter')
          h3 1.1.
          p Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.
        section(class='chapter')
          h3 1.2.
          p Настоящая политика Оператора в отношении обработки персональных данных (далее — Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта httpsː//thismywebsite·com.
      section(class='section')
        h2 2. Основные права и обязанности Оператора
        section(class='chapter')
          h3 2.1.
          p(class='title') Оператор имеет право:
          ul 
            li получать от субъекта персональных данных достоверные информацию и/или документы, содержащие персональные данные;
            li в случае отзыва субъектом персональных данных согласия на обработку персональных данных Оператор вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных в Законе о персональных данных;
            li самостоятельно определять состав и перечень мер, необходимых и достаточных для обеспечения выполнения обязанностей, предусмотренных Законом о персональных данных и принятыми в соответствии с ним нормативными правовыми актами, если иное не предусмотрено Законом о персональных данных или другими федеральными законами.
        section(class='chapter')
          h3 2.2.
          p(class='title') Оператор обязан:
          ul 
            li получать от субъекта персональных данных достоверные информацию и/или документы, содержащие персональные данные;
            li в случае отзыва субъектом персональных данных согласия на обработку персональных данных Оператор вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных в Законе о персональных данных;
            li самостоятельно определять состав и перечень мер, необходимых и достаточных для обеспечения выполнения обязанностей, предусмотренных Законом о персональных данных и принятыми в соответствии с ним нормативными правовыми актами, если иное не предусмотрено Законом о персональных данных или другими федеральными законами.
      section(class='section')
        h2 3. Основные понятия, используемые в Политике
        section(class='chapter')
          h3 3.1.
          p Автоматизированная обработка персональных данных — обработка персональных данных с помощью средств вычислительной техники.
        section(class='chapter')
          h3 3.2.
          p Блокирование персональных данных — временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных).
        section(class='chapter')
          h3 3.3.
          p Веб-сайт — совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу httpsː//thismywebsite·com.
        section(class='chapter')
          h3 3.4.
          p Информационная система персональных данных — совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку информационных технологий и технических средств.
        section(class='chapter')
          h3 3.5.
          p Обезличивание персональных данных — действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному Пользователю или иному субъекту персональных данных.
  include ../components/footer/footer.pug
  include ../components/modalCall/modalCall.pug
  include ../images/icons/icon-16/sprite-icon-16.svg
  include ../images/icons/icon-24/sprite-icon-24.svg
  include ../images/icons/icon-32/sprite-icon-32.svg
  include ../images/icons/icon-72/sprite-icon-72.svg
  include ../images/icons/icon-btn/sprite-icon-btn.svg
  include ../images/icons/icon-social/sprite-icon-social.svg